div{
	border:2px solid red;
	font-size:10px;
	width:50%;
}

p{
	border:1px solid green;
	font-size:200%;/*percent of its parent*/
	width:50%;/*percent of its parent*/
	background:lightblue;
	/*margin:4px auto;*/
	margin-left:25%;
	text-align:center;
	
}