body{
    font-family: Arial, Helvetica, sans-serif;
}
.box-wrapper{
    border: 10px solid black;
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    
    
    
}
.box{
    border: 1px solid #666;
    width: 400px;
    
}
.box1{
    background-color: lightblue;
    align-self: flex-start;
    

}
.box2{
    background-color: lightcoral;
    align-self: center;
}
.box3{
    background-color: lightgray;
    align-self: flex-end;
}
.box4{
    background-color: lightsalmon;
}
.box5{
    background-color: lightslategray;
}