/*h1{
	border:2px solid red;
	/*width:20em;
	/*viewport width - vw
	width:50vw;/*it means 50% of screen 

}*/
/*.box{
	border:4px solid red;
	padding:5px;
	width:50%;
	
}
h1{
	border:2px solid green;
	/*width:50%;---> percent takes care of parents
	width:70vw; ----> 70% of viewport width without taking care of parents
}*/
.box{
	
	/*height:100vh;-----> means compleet view height does not matter which screen is it*/
	
	/*_vh, vw_*/
	
	/*height:100vmin;---->Automatically set the height to the lowest of viewport height or width*/
	
	height:100vmax;/*Automatically set the height to the maximum of viewport height or width*/
	
		
	background:cadetblue;
}